/* CAMBIO DE VARIABLES ORIGINALES DE BOOTSTRAP*/
$colorCabecera: #ff0099;
$colorBotonPie: #493240;
$primary: $colorCabecera;
$secondary: $colorBotonPie;
$degradado: linear-gradient(to left, #493240, #ff0099),
  linear-gradient(to left, #493240, #ff0099);
/* FIN CAMBIO DE VARIABLES ORIGINALES DE BOOTSTRAP*/

@import "../lib/Bootstrap/scss/bootstrap";

/* ESTILOS GENERALES */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Special+Elite");

body {
  overflow-x: hidden;
  background-color: #fffff4;
}

#cabecera {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  #menu li > a {
    font-size: x-large;
    font-weight: bold;
    &:hover{
      background-color: #da0669;
      border-radius: 10px;
    }
  }
}

#navbarSupportedContent {
  z-index: 2;
}

#navbarSupportedContent {
  z-index: 2;
}

.tituloMain {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px 10px 5px;
}

.titulos {
  font-family: "Anton", sans-serif;
  font-size: xx-large;
  padding-top: 5px;
  padding-left: 10px;
}

#carouselExampleIndicators {
  z-index: 0;
}

#comentarios {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

blockquote {
  font-family: "Special Elite", cursive;
  background: #fffdf5;
  color: #3f3f5a;
  font-weight: 100;
  font-size: 2rem;
  max-width: 600px;
  line-height: 1.4;
  position: relative;
  margin: 0;
  padding: 3rem 1rem 1rem 1rem;
      &:before,
      &:after {
      position: absolute;
      color: #f1efe6;
      font-size: 8rem;
      width: 4rem;
      height: 4rem;
    }
    &:before {
      content: "“";
      left: -5rem;
      top: -1rem;
      padding-top: 10px;
    }
    &:after {
      content: "”";
      right: -5rem;
      bottom: 1rem;
      padding-top: 10px;
    }
    &:hover {
      animation-name: pulse;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
    
}


@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

cite {
  line-height: 3;
  text-align: left;
}

#mapa {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

#pie a {
  font-size: large;
  font-weight: bold;
  color: #3f3f3f;
}

.articulo__nosotros{
  padding: 0px 15px 15px 15px;
}

/* VERSION MOVIL */

@media (max-width: 480px) {
  #menu a p {
    font-size: 1.9rem !important;
  }

  .comentarioCliente {
    padding: 0px 10px 0px 10px;
  }

  blockquote {
    font-size: 1.5rem;
      &:before {
        left: -1rem;
        top: -2rem;
      }
      &:after {
        content: "”";
        right: 0rem;
        bottom: 0rem;
      }
  }

}

  
/* FIN VERSION MOVIL */

/* VERSION TABLET */

@media (min-width: 481px) and (max-width: 1023px) {
}
/* FIN VERSION TABLET */

/* VERSION DESKTOP */
@media (min-width: 1024px) {
  #menu {
    height: 6rem;
  }
}
/* FIN VERSION DESKTOP */
